
#Python and PyCharm
venv
.idea
.DS_Store
webpack/node_modules/
*.pyc
__pycache__
.pytest_cache
.mypy_cache


#logs
logs/
*.log


#media and static files
root/media/
root/staticfiles/
uploads/


#tests
.coverage*
.pytest_cache*
htmlcov*


# databases and config
.git/
etc/
*.db
*.sqlite3
*.mysql
*.postgresql

