#Python and PyCharm
*.pyc
venv
.venv
.idea
.DS_Store
__pycache__*


#media files, and configurations
root/media/
root/static/
root/staticfiles/
*.sqlite3
uploads/
webpack/node_modules/
root/base_template/static/base/js/bundle


#tests
.coverage*
.pytest_cache*
htmlcov

# Secret key, Email Config
etc/
