{% load static %}

<nav class="navbar navbar-light bg-light shadow">
    <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand">
            <img id="faviconMain" src="{% static 'base/img/logo.svg' %}" width="50px" alt="DjangoIco">
            <label> DjangoWeatherReminder</label>
        </a>
        {% if request.user.id %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="https://google.com">Add City</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </li>
        {% endif %}
    </div>
</nav>