{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Tittle -->
    <title>DjangoGramm</title>


    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">


    <!-- CSS -->
    {% block styles %}{% endblock %}


    <!-- JavaScript -->
    <script src="{% static 'base/js/bundle/bundle.js' %}"></script>
    {% block scripts %}{% endblock %}

</head>
<body>

    <!-- Header -->
    {% include 'base/header.html' %}


    <!-- Content -->
    {% block content %}{% endblock %}

</body>
</html>