{% extends 'base/index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-10 mx-auto col-lg-5" style="margin-top: 2%">
    <br>
    <br>
    <br>
    <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
            {% if city %}
                <h1 class="fw-bold mb-0 fs-2">{{ city.city }}</h1>
            {% else %}
                <h1 class="fw-bold mb-0 fs-2">City not found</h1>
            {% endif %}

            <a class="btn-close" href="{% url "WeatherReminder:home" %}"></a>
        </div>

        {% if city %}
        <div class="modal-body p-5 pt-0">
            <br>
            <table class="table table-borderless">
                <tr>
                    <th>Weather: </th>
                    <th id="weather_city">{{ city.weather }}</th>
                </tr>
                <tr>
                    <th>Temperature: </th>
                    <th id="temperature_city">{{ city.temperature }}°C</th>
                </tr>
                <tr>
                    <th>Humidity: </th>
                    <th id="humidity_city">{{ city.humidity }}%</th>
                </tr>
            </table>
            {% crispy form %}
            <hr class="my-4">
            <small class="text-muted">By clicking update you automatically subscribe it</small><br>
            <small class="text-muted">For unsubscribe click <a href="{% url 'WeatherReminder:unsubscribe_city' city %}">here</a></small><br>
            <small class="text-muted">Latest update has been {{ city.last_update }}</small><br>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}
